
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: rgb(255, 255, 255);
}

.book-cover-container {
  position: relative; 
  display: inline-block; 
  padding: 20px;
  background-color: #f7f2c4; 
  border-radius: 10px; 
}

.book-cover-container img {
  display: block; 
  width: auto; 
  height: auto; 
}

.container {
    text-align: center;
    width: 80%;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

th,
td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

th {
    background-color: rgb(240, 240, 240);
    font-weight: bold;
}
