.bod {
    text-align: center;
    background-color: white;
    padding: 10px;
    border: 5px solid white;
    box-sizing: border-box;
}

.tex {
    text-align: center;
    border: 2px solid;
    width: 35%;
    height: 50px;
    margin-right: 10px;
    border-radius: 3px;
    border-color: #110a0a;
}

.but {
    background-color: rgb(58, 156, 242);
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    margin-right: 10px;
}

.but:hover {
    background-color: #0056b3;
}

.myFrame {
    width: 40%;
    height: 1000;
    border: none;
    flex: 1;
    margin-top: 20px;
}

h1 {
    text-align: center;
    color: rgb(58, 156, 242);
    margin-top: 70px;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

ul li {
    margin-bottom: 20px;
    text-align: center;
    display: inline-block;
    width: 45%;
    margin-right: 5px;
}



ul li a {
    display: block;
    text-decoration: none;
    color: black;
    margin-bottom: 10px;
}

ul li img {
    width: 170px;

    display: block;
    margin: auto;
}

body {
    background-color: rgb(255, 255, 255);
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%
}

.details {
    text-align: center;
}

table {
    border-collapse: collapse;
    width: 100%;
    padding-left: 20px;

}

th,
td {
    border: 1px solid black;
    padding: 8px;
    text-align: left;
}

th {
    background-color: #f2f2f2;
}

.edit-button {
    margin-top: 20px;
    background-color: #4caf50;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
}

.edit-button:hover {
    background-color: #45a049;
}